
.reveal h1 {
    font-size: 3.1em;
}

.reveal pre code{
    background: transparent;
}

.reveal pre.with-code{
    width: 100%;
}

.reveal a .hljs-comment,
.reveal a .hljs-meta{
    text-decoration: underline;
}

.reveal a:hover .hljs-comment,
.reveal a:hover .hljs-meta{
    text-decoration: none;
}
